<div class="container-fluid p-3">
    <div class="col-12 container-body d-flex justify-content-between align-items-center flex-wrap">
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sobre nós</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled"></a>
    </li>
  </ul>
  <ul class="nav nav-pills ">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Meu perfil</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Meus ingressos</a></li>
      <li><a class="dropdown-item" href="#">Minhas informações</a></li>
      <li><a class="dropdown-item" href="#"></a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item text-danger" href="#">Sair</a></li>
    </ul>
  </li>
</ul>
</div>
</div>