<div class="Header">
    <app-initial-header></app-initial-header>
</div>
<div class="registerForm">
    <div class="FormHeader">
        <h1>Fazer login</h1>
    </div>
    <form action="" class="FormBody">
        <div class="input-group">
            <div class="inputbox">
                <input required="required" type="text">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input required="required" type="text">
                <span>Senha</span>
                <i></i>
            </div>
            <div class="buttonLayer">
                <a class="link" routerLink="/register"><button>Cadastrar-se</button></a>
                <button style="background-color: rgb(111, 255, 111);"><a>Login</a></button>
            </div>
        </div>
    </form>
</div>