<div class="Header">
    <app-initial-header></app-initial-header>
</div>
<div class="registerForm">
    <div class="FormHeader">
        <h1>Registre-se</h1>
    </div>
    <form [formGroup]="FormGroupRegister" #form="ngForm" (ngSubmit)="enviarDados()" class="FormBody">
        <div class="input-group">
            <div class="inputbox">
                <input formControlName="name" name="name" required="required" type="text">
                <span>Nome</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input formControlName="surname" name="surname" required="required" type="text">
                <span>Sobrenome</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input formControlName="cpf" name="cpf" required="required" type="number">
                <span>CPF</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input formControlName="phone" name="phone" required="required" type="number">
                <span>Telefone</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input required="required" formControlName="cep" (input)="puxarInfoApi()" name="cep" type="number">
                <span>CEP</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input  required="" formControlName="city" name="city" type="text" readonly>
                <span>Cidade</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input formControlName="address" name="address" required="required" type="text">
                <span>Endereço</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input formControlName="email" name="email" required="required" type="text">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input formControlName="password" name="password" required="required" type="text">
                <span>Senha</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input formControlName="confirmPassword" name="confirmPassword" required="required" type="text">
                <span>Confirmar Senha*</span>
                <i></i>
            </div>
        </div>
        <div class="buttonLayer">
            <a class="link" routerLink="/login"><button>Logar</button></a>
            <button style="background-color: rgb(111, 255, 111);"><a>Cadastrar-se</a></button>
        </div>
    </form>
</div>